{extend name="manage@layouts/master" /}
{block name="content"}
{include file='manage@public_file/nav_tabs' /}
    <div class="bs-example">
    <table class="table table-bordered">
        <tr>
            <th width="150">用户名</th>
            <th>
                {$info.username ?? ''}
            </th>
        </tr>
        <tr>
            <th>电子邮箱</th>
            <td>
                {$info.email ?? ''}  ({$info.is_email ? '已绑定邮箱' : '还未绑定邮箱'})
            </td>
        </tr>
        <tr>
            <th>昵称</th>
            <td>
                {$info.nickname ?? ''}
            </td>
        </tr>
        <tr>
            <th>昵称</th>
            <td>
                {$info.birthday ?? ''}
            </td>
        </tr>
        <tr>
            <th>简介</th>
            <td>
                {$info.comment ?? ''}
            </td>
        </tr>


    </table>
</div>

    <div class="form-actions col-sm-12">

   <!--     <button type="button" class="btn btn-primary ajax-post " autocomplete="off">
            保存
        </button>-->
        <a class="btn btn-default active" href="JavaScript:history.go(-1)">返回</a>
    </div>
{/block}

