<div class="header">
    <div class="main">
        <a class="logo" href="/" title="Fly">Fly社区</a>
        <div class="nav">
            <a class="nav-this" href="/">
                官网首页
            </a>
        </div>

        <div class="nav-user">
            {if condition="get_user()->is_login()"}
            <?php $user = get_user()->getUser()->formatUsers()?>
            <!-- 登入后的状态 -->
            <a class="avatar" href="{:url('user/index/index')}">
                <img src="{$user[0]->avatar}">
                <cite>{$user[0]->nickname}</cite>
            </a>
            <div class="nav">
                <a href="{:url('user/setting/profile')}"><i class="layui-icon">&#xe620;</i>设置</a>
                <a href="{:url('user/portal/logout')}"><i class="layui-icon">&#xe60f;</i>退了</a>
            </div>
            {/if}
        </div>
    </div>
</div>