{extend name="layouts/master" /}

{block name="php"}
<?php
use app\common\consts\banner\BannerTypeConst;
use app\common\tool\Tool;
?>
{/block}

{block name="content"}


{include file='public_file/nav_tabs' /}

<form class="well form-search" id="mainform" action="{:url('banner/index')}" method="get">
    <div class="btn-group width2">
        {:Tool::get('form')->select(
        'type',
        BannerTypeConst::desc(),
        input('type'),
        ['class' => 'form-control', 'id' => 'navcid_select', 'placeholder'=>'全部']
        )}
    </div>
</form>
<form  method="post">
    <table class="table table-hover table-bordered table-list" id="menus-table">
        <thead>
        <tr>
            <th width="50">ID</th>
            <th>图片</th>
            <th>标题</th>
            <th>类型</th>
            <th width="180">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach name='$list' item='value' }
        <tr>
            <th width="50">{$value.banner_id}</th>
            <th><img height="38" src="{$value.picture}"></th>
            <th>{$value.title}</th>
            <th>{$value.typeName}</th>
            <th>
                <a href="{:url('edit', ['id'=>$value['banner_id']])}">编辑</a> |
                <a class="a-post" post-msg="你确定删除吗?" post-url="{:url('delete', ['id'=>$value['banner_id']])}">删除</a>
            </th>
        </tr>
        {/foreach}
        </tbody>
    </table>
</form>
<div class="text-center">
    {$list->render()}
</div>
{/block}

{block name="script"}
<script>
    $(function(){
        $("#navcid_select").change(function() {
            $("#mainform").submit();
        });
    })
</script>
{/block}
