<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的消息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">

    <!--[if lt IE 9]>
    <script type="text/javascript" src="__STATIC__/default/jquery/html5shiv.js"></script>
    <script type="text/javascript" src="__STATIC__/default/jquery/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="__STATIC__/default/layui/css/layui.css" />
    <link rel="stylesheet" href="__STATIC__/user/css/global.css" charset="utf-8" />
    <script src="__STATIC__/default/jquery/1.11.3/jquery.min.js"></script>
    {block name="php"}{/block}
    {block name="style"}{/block}
</head>
<body >


{include file='public/header' /}
{block name="content"}{/block}

{include file='public/footer' /}

<script src="__STATIC__/default/layui/layui.js"></script>
<script src="__STATIC__/user/js/global.js"></script>

{block name="script"}{/block}

</body>
</html>