{extend name="layouts/master" /}

{block name="php"}
<?php
use app\common\tool\Tool;
use app\common\consts\file\FileTypeConst;
?>
{/block}

{block name="style"}
<link href="__STATIC__/default/artDialog/skins/default.css" rel="stylesheet" />
<style>
    .file-upload-btn-wrapper {
        margin-bottom: 10px;
    }

    .file-upload-btn-wrapper .num {
        color: #999999;
        float: right;
        margin-top: 5px;
    }

    .file-upload-btn-wrapper .num em {
        color: #FF5500;
        font-style: normal;
    }

    .files-wrapper {
        border: 1px solid #CCCCCC;
    }

    .files-wrapper ul {
        height: 280px;
        overflow-y: scroll;
        padding-bottom: 10px;
        position: relative;
        margin: 0;
    }

    .files-wrapper li {
        display: inline;
        float: left;
        height: 100px;
        margin: 10px 0 0 10px;
        width: 100px;
        position: relative;
        border:1px solid #CCCCCC;
    }

    .files-wrapper li.selected {
        border: 1px solid #fe781e;
    }
    .files-wrapper li .upload-percent{
        width: 100%;
        height:100%;
        line-height: 100px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .files-wrapper li .selected-icon-wrapper{
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 20px;
        font-size: 16px;
        text-align:center;
        line-height:20px;
        color:#fe781e;
        display: none;
    }
    .files-wrapper li.selected .selected-icon-wrapper{
        display: block;
    }
    .files-wrapper li img{
        width: 100%;
        height: 100%;
        vertical-align: top;
    }
</style>
{/block}

{block name="content"}
    {include file='public_file/nav_tabs' /}
    <form class="well form-search" id="mainform" action="{:url('index')}" method="get">
        <div class="btn-group width2">
            <?=Tool::get('form')->select(
            'type',
            array_merge([0 => '全部类型'], FileTypeConst::desc()),
            input('type'),
            ['class' => 'form-control', 'id' => 'navcid_select' ]
            )?>
        </div>
        <div class="btn-group width2">
            <input class="form-control width2" placeholder="文件路由或者名称" type="text" name="name" value="{:input('name')}">
        </div>
        <div class="btn-group">
            <input class="btn btn-primary"  type="submit" value="查询">
        </div>
        <div class="btn-group">
            <a class="btn btn-primary" onclick="uploadFile()">上传文件</a>
        </div>
    </form>


    <div class="bs-example" data-example-id="simple-thumbnails">

        <div class="row">
            {foreach name='$list' id='v'}
            <?php $name = 'asfas'.$key?>
            <div class="col-sm-3 col-md-2">
                <div class="thumbnail">
                    <img id='{$name}-preview' title="{$v.path} {$v.name}" alt="{$v.name}"  style="height: 120px; width: 100%;cursor: hand; display: block;" src="{$v.path}">
                    <div class="caption">
                        <a  class="btn btn-primary" href="javascript:upload_one_file('{$v.typeName}替换' ,'#{$name}' ,'{$v.typeEnName }' ,1 ,'' ,{$v.file_id});">
                            {$v.typeName}替换
                        </a>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>

    </div>
    <div class="text-center">
        {$list->render()}
    </div>

{/block}

{block name="script"}
<script src="__STATIC__/default/headjs.js"></script>
<script src="__STATIC__/default/layui/layui.js"></script>
<script>
    layui.use(['layer'], function(){
        var layer = layui.layer; //弹层
    });
    function uploadFile(){
        layer.open({
            title: '导入excel数据',
            type: 2,
            area: ['600px', '600px'],
            shade: 0.8,
            maxmin: true,
            content: '{:url("loadExcel")}',
            zIndex: layer.zIndex, //重点1
            btn:['提交', '取消'],
            yes:function(index, layero) {
                $(layero).find("iframe")[0].contentWindow.submit();
            },
            success: function(layero){
                layer.setTop(layero); //重点2
            }
        });
    }

</script>
{/block}
