{extend name="layouts/no_attributes" /}

{block name="php"}
<?php
use app\common\tool\Tool;
use app\common\consts\goods\GoodsRecommendationConst;
?>
{/block}

{block name="style"}
<link href="__STATIC__/default/artDialog/skins/default.css" rel="stylesheet" />
{/block}

{block name="content"}

<form class="form-horizontal" method="post">

    <div class="bs-example" style="padding: 10px">
        <!--右侧-->
        <input  accept='.xls,.xlsx' type="file" name="file" >
    </div>

</form>
<button onclick="submit()"> asdasd</button>
{/block}

{block name="script"}
<script src="__STATIC__/default/headjs.js"></script>
<script>



    function submit()
    {
        var files = $("input[name=file]").prop('files');

        var data = new FormData();
        data.append('file', files[0] ? files[0] : '');

        $.ajax({
            url : "{:url('loadExcel')}",
            type: 'POST',
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            dataType: 'json',
            success : function (json)
            {
                var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                alert(json.msg);
                if(json.code == 1) {
                    parent.layer.close(index);
                    parent.window.location.href= '{:url("goods/subproduct", ["id" => input("cid")])}';
                }

            },
            error:function(xhr){          //上传失败
                alertError(xhr.responseText);

            },
            beforeSend:function(){
                $("#rechargeLog").html('<img src="/statics/admin/css/loading.gif">');
            }
        });
    }
</script>
{/block}