

<!DOCTYPE html>
<head>
    {include file='public_file/header' /}
</head>
<body>
<div class="container-fluid">

    div>
</div>

{include file='public_file/footer' /}
</body>
</html>

{extend name="layouts/master" /}

{block name="php"}
<?php
$navTabs['nav'] = '<li class="active"><a href="">修改密码</a></li>';
?>
{/block}

{block name="content"}

{include file='public_file/nav_tabs' /}
<div class="site-signup">
    <div class="row">
        <form class="form-horizontal" action="{:url('editPassword')}" method="post" >
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th class="col-sm-2">用户名</th>
                    <th>
                        <input disabled type="text" class="form-control text" value=" {$info.admin_name}">
                    </th>
                </tr>
                <tr>
                    <th>原始密码</th>
                    <td>
                        <input type="password" class="form-control text" name="old_password"><span class="form-required">*</span>
                    </td>
                </tr>
                <tr>
                    <th>新密码</th>
                    <td>
                        <input type="password" class="form-control text" name="password"><span class="form-required">*</span>
                    </td>
                </tr>
                <tr>
                    <th>确认密码</th>
                    <td>
                        <input type="password" class="form-control text" name="repassword"><span class="form-required">*</span>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="form-actions col-sm-12">

                <button type="button" class="btn btn-primary ajax-post " autocomplete="off">
                    保存
                </button>
                <input type="reset" class="btn btn-default active" value="重置">
            </div>
        </form>
    </div>
</div>
{/block}




