{extend name="layouts/master" /}

{block name="php"}
<?php
$navTabs['nav'] = '<li class="active"><a href="">重置管理员密码</a></li>';
?>
{/block}

{block name="content"}
{include file='public_file/nav_tabs' /}
    <div class="site-signup">
        <div class="row">
            <form class="form-horizontal" action="{:url('resetPassword')}" method="post" >
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th class="col-sm-2">管理员用户名</th>
                        <th>
                            <input type="text" class="form-control text" name="name"><span class="form-required">*</span>
                        </th>
                    </tr>
                    <tr>
                        <th>自身密码</th>
                        <td>
                            <input type="password" class="form-control text" name="password"><span class="form-required">*</span>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="form-actions col-sm-12">

                    <button type="button" class="btn btn-primary ajax-post " autocomplete="off">
                        保存
                    </button>
                    <input type="reset" class="btn btn-default active" value="重置">

                </div>
            </form>
        </div>
    </div>
{/block}






