{extend name="layouts/master" /}

{block name="php"}
<?php
use app\common\consts\page\PageTemplateConst;
use app\common\tool\Tool;
use app\common\consts\common\CommonStatusConst;
?>
{/block}

{block name="style"}
<link href="__STATIC__/default/artDialog/skins/default.css" rel="stylesheet" />
{/block}


{block name="content"}
{include file='public_file/nav_tabs' /}
<form class="form-horizontal" action="{:empty(input('id')) ? url('create') : url('update',['id'=>input('id')])}" method="post">
    <div class="bs-example">
        <!--右侧-->
        <div class="col-sm-8">
            <table class="table table-bordered">
                <tr>
                    <th>标题</th>
                    <th>
                        <input class="form-control text" type="text" name="title" value="{$info.title ?? ''}">
                        <span class="form-required">*</span>
                    </th>
                </tr>

                <tr>
                    <th width="150">模版类型</th>
                    <td>
                        {:Tool::get('form')->select('template_type', PageTemplateConst::groupDesc(),
                            isset($info->template_type) ? $info->template_type : '',
                            ['class' => 'form-control text', 'id' =>'group']
                        )}
                    </td>
                </tr>
                <tr>
                    <th width="150">默认模版</th>
                    <td>
                        {:Tool::get('form')->select('template_page', PageTemplateConst::pageDesc(),
                            isset($info->template_page) ? $info->template_page : '',
                            ['class' => 'form-control text']
                        )}
                    </td>
                </tr>
                <tr class="template_info">
                    <th width="150">详情模板</th>
                    <td>
                        {:Tool::get('form')->select('template_info', PageTemplateConst::infoDesc(),
                            isset($info->template_info) ? $info->template_info : '',
                            ['class' => 'form-control text']
                        )}
                    </td>
                </tr>
                <tr>
                    <th>页面扩展</th>
                    <td>
                        {:Tool::get('form')->select('fields_extended_id', $enum['fields_extended'],
                            isset($info->fields_extended_id) ? $info->fields_extended_id : '',
                            ['class' => 'form-control text']
                        )}
                </tr>
                <tr>
                    <th>信息扩展</th>
                    <td>
                        {:Tool::get('form')->select('data_extended_id', $enum['data_extended'],
                            isset($info->data_extended_id) ? $info->data_extended_id : '',
                            ['class' => 'form-control text']
                        )}
                    </td>
                </tr>
                <tr class="template_info">
                    <th>列表行数</th>
                    <th>
                        <input type="text" class="form-control text" name="list_row" value="{$info.list_row ?? '10'}">
                    </th>
                </tr>
                <tr>
                    <th>简介</th>
                    <th>
                        <textarea name="comment" class="form-control "  rows="5">{$info.comment ?? ''}</textarea>
                    </th>
                </tr>
                <tr>
                    <th>相册图集</th>
                    <th>
                        {:Tool::get('form')->multiImage('photos',
                            isset($info->photos) ? $info->photos : ''
                        )}
                    </th>
                </tr>
            </table>
        </div>
        <!--    左侧-->
        <div class="col-sm-3">
            <table class="table table-bordered">
                <tr>
                    <th>缩略图</th>
                </tr>
                <tr>
                    <th>
                        {:Tool::get('form')->oneImage('picture',
                            isset($info->picture) ? $info->picture : ''
                        )}
                    </th>
                </tr>
                <tr>
                    <th>可见性</th>
                </tr>
                <tr>
                    <th>
                        {:Tool::get('form')->select('display', CommonStatusConst::desc(),
                            isset($info->display) ? $info->display : '',
                            ['class' => 'form-control text']
                        )}
                    </th>
                </tr>
                <tr>
                    <th>关键字</th>

                </tr>
                <tr>
                    <th>
                        <textarea name="keywords" class="form-control text" clos="30" rows="2" >{$info.keywords ?? ''}</textarea>
                    </th>
                </tr>
                <tr>
                    <th>描述</th>
                </tr>
                <tr>
                    <th>
                        <textarea name="description" class="form-control text" clos="30" rows="2">{$info.description ?? ''}</textarea>
                    </th>
                </tr>

            </table>
        </div>
        <div class="col-sm-12"> <!--底部-->
            <table class="table table-bordered" >
                <thead id="extended">

                </thead>
                <tr>
                    <th width="150">文章内容</th>
                    <th>
                        {:Tool::get('form')->editor('content', isset($info->content) ? $info->content : '')}
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <div class="form-actions col-sm-12">

        <button type="button" class="btn btn-primary ajax-post " autocomplete="off">
            保存
        </button>
        <a class="btn btn-default active" href="JavaScript:history.go(-1)">返回</a>
    </div>
</form>
{/block}

{block name="script"}
<script src="__STATIC__/default/headjs.js"></script>
<script>
    $(function(){
        $("#group").change(function() {
            var tr,num;
            num = $(this).val();
            tr  = $('.template_info');
            if(num >= 2){
                tr.show();
            }else {
                tr.hide();
            }
        }).trigger("change");

        $("select[name=fields_extended_id]").change(function () {
            var fields_extended_id = $(this).val();
            var page_id = '{:input("id")}';
            $.ajax({
                url : "{:url('extended')}",
                type : 'post',
                data: {'fields_extended_id':fields_extended_id,'page_id':page_id},
                dataType : 'json',
                success : function (json)
                {
                    $("#extended").html(json.data);
                },
                error:function(xhr){          //上传失败
                    alertError(xhr.responseText);

                },
                beforeSend:function(){
                    $("#rechargeLog").html('<img src="/statics/admin/css/loading.gif">');
                }
            });
        }).trigger("change");
    });
</script>
{/block}