{extend name="layouts/master" /}

{block name="php"}
<?php
use app\common\tool\Tool;
use app\common\consts\info\InfoRecommendationConst;
?>
{/block}

{block name="style"}
<link href="__STATIC__/default/artDialog/skins/default.css" rel="stylesheet" />
{/block}

{block name="content"}
{include file='public_file/nav_tabs' /}

<form class="form-horizontal"
      action="{:empty(input('id')) ? url('create',['cid'=>input('cid')]) : url('update',['id'=>input('id'), 'cid'=>input('cid')])}"
      method="post">

    <div class="bs-example">
        <!--右侧-->
        <div class="col-sm-8">
            <table class="table table-bordered">
                <tr>
                    <th>标题</th>
                    <th>
                        <input class="form-control text" type="text" name="title" value="{$info.title ?? ''}">
                        <span class="form-required">*</span>
                    </th>
                </tr>
                <tr>
                    <th width="150">分类</th>
                    <td>
                        {:Tool::get('form')->select('page_id', $page,
                            isset($info->page_id) ? $info->page_id : input('cid'),
                            ['class' => 'form-control text', 'placeholder'=>'请选择']
                        )}
                    </td>
                </tr>
                <tr>
                    <th width="150">可见性</th>
                    <td>
                        {:Tool::get('form')->select('display', $display,
                            isset($info->display) ? $info->display : '',
                            ['class' => 'form-control text']
                        )}
                    </td>
                </tr>
                <tr>
                    <th>外链</th>
                    <th>
                        <input type="text" class="form-control text" name="links" value="{$info.links ?? ''}">
                    </th>
                </tr>
                <tr>
                    <th>访问量</th>
                    <th>
                        <input type="text" class="form-control text" name="visiting" value="{$info.visiting ?? '0'}">
                    </th>
                </tr>
                <tr>
                    <th>推荐</th>
                    <th>
                        {:Tool::get('form')->checkboxs('recommendation',
                            InfoRecommendationConst::desc(),
                            isset($info->recommendation) ? $info->recommendation : ''
                        )}
                    </th>
                </tr>
                <tr>
                    <th>简介</th>
                    <th>
                        <textarea name="comment" class="form-control "  rows="5">{$info.comment ?? ''}</textarea>
                    </th>
                </tr>
                <tr>
                    <th>相册图集</th>
                    <th>
                        {:Tool::get('form')->multiImage('photos',
                            isset($info->photos) ? $info->photos : ''
                        )}
                    </th>
                </tr>
            </table>
        </div>

        <!--左侧-->
        <div class="col-sm-3">
            <table class="table table-bordered">
                <tr>
                    <th>缩略图</th>
                </tr>
                <tr>
                    <th>
                        {:Tool::get('form')->oneImage('picture', isset($info->picture) ? $info->picture : '')}
                    </th>
                </tr>
                <tr>
                    <th>创建时间</th>
                </tr>
                <tr>
                    <th>
                        {:Tool::get('form')->date('create_time', isset($info->create_time) ? $info->create_time : '')}
                    </th>
                </tr>
                <tr>
                    <th>网页描述</th>
                </tr>
                <tr>
                    <th>
                        <textarea name="keywords" class="form-control text" clos="30" rows="2" >{$info.keywords ?? ''}</textarea>
                    </th>
                </tr>
                <tr>
                    <th>网页关键字</th>
                </tr>
                <tr>
                    <th>
                        <textarea name="description" class="form-control text" clos="30" rows="2">{$info.description ?? ''}</textarea>
                    </th>
                </tr>
            </table>
        </div>
        <!--底部-->
        <div class="col-sm-12">
            <table class="table table-bordered" >
               <thead id="extended">

               </thead>
                <tr>
                    <th width="150">文章内容</th>
                    <th>
                        {:Tool::get('form')->editor('content', isset($info->content) ? $info->content : '')}
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <div class="form-actions col-sm-12">
        <button type="button" class="btn btn-primary ajax-post " autocomplete="off">
            保存
        </button>
        <a class="btn btn-default active" href="JavaScript:history.go(-1)">返回</a>
    </div>
</form>
{/block}

{block name="script"}
<script src="__STATIC__/default/headjs.js"></script>
<script>
    $(function () {
        $("select[name=page_id]").change(function () {
            var page_id = $(this).val();
            var info_id = '{:input("id")}';
            $.ajax({
                url : "{:url('extended')}",
                type : 'post',
                data: {'page_id':page_id,'info_id':info_id},
                dataType : 'json',
                success : function (json)
                {
                    $("#extended").html(json.data);
                },
                error:function(xhr){          //上传失败
                    alertError(xhr.responseText);

                },
                beforeSend:function(){
                    $("#rechargeLog").html('<img src="/statics/admin/css/loading.gif">');
                }
            });
        }).trigger("change");
    })
</script>
{/block}