
<link href="__STATIC__/default/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="__STATIC__/admin/css/site.css" rel="stylesheet">
<script src="__STATIC__/default/jquery/1.11.3/jquery.min.js"></script>


<script type="text/javascript">
    //全局变量
    var GV = {
        ROOT: "__URL__/manage/",
        WEB_ROOT: "__STATIC__",
        JS_ROOT: "/default/",
        APP:'Portal'/*当前应用名*/
    };
</script>
<style>
    body {min-width:790px;}
    .alert{
        position: fixed !important;z-index: 1000;width: 98%;top: 2%;
    }
</style>


